@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<div class="nav-item px-3">
    <NavLink  href="login">
        <button class="btn btn-primary">
           Login
       </button>
    </NavLink>
</div>
